@font-face{
    font-family: 'museo';
    src: url(../fonts/exljbris\ -\ MuseoSans-300.otf)
}
* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    position: relative;
    background-color: #76CDD8;
    height: 100%;
    font-family: 'museo';
}
.wrapper{
    height: 100%;
}
.data{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 70px;
}
header {
    width: 100%;
    background-color: #D35D47;
    text-align: center;
    line-height: 40px;
    height: 70px;
    position: absolute;
    top:0;
    left: 0;
}
h1 {
    color: #ffffff;
    padding: 10px;
}
sup{
    font-size: 50%;
}
.section{
    padding: 10px;
    width: 600px;
    align-self: center;

}
article{
    background-color: #C9DB48;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}
article > button{
    display: block;
    width: 150px;
    height: 50px;;
    margin:10px auto;
    background-color: #76CDD8;
    color: #ffffff;
}
article>span{
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 10px 0px;
}
.maincontent{
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}
.section > .content{
    display: none;
    padding-bottom: 40px;
}
.section.active > .content {
    display: block;
}
#sizeSS, #sizeLS {
    display: block !important;
}
footer {
    width: 100%;
    height: 40px;
    background-color: #D35D47;
    text-align: center;
    line-height: 40px;
    margin-top: -40px;
    color: #ffffff;
}
button {
    height: 40px;
    width: 80px;
    border: 1px solid #ffffff;
    background-color: #D35D47;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}
.buttonSize:hover::after { 
    content: attr(data-title); 
    position: absolute; 
    left: -280%; 
    top: -120%; 
    z-index: 1; 
    background: #D35D47; 
    font-size: 18px;
    padding: 10px 20px; 
    border: 2px solid #ffffff;
    opacity: .8;
}