@font-face{
    font-family: 'museo';
    src: url(../fonts/exljbris\ -\ MuseoSans-300.otf)
}
* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background-color: #76CDD8;
    font-family: 'museo';
    height: 100%;
    position: relative;
}
.wrapper{
    height: 100%;
}
header {
    background-color: #D35D47;
    height: 70px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top:0;
    width: 100%;
}
h1 {
    color: #ffffff;
    padding: 10px;
}
sup{
    font-size: 50%;
}
.data{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 70px;
}
.maincontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    padding-top: 4%;
}
.section{
    align-self: center;
    padding: 10px;
    width: 600px;
}
article{
    background-color: #C9DB48;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
article>h2{
    color: #ffffff;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.section > .content{
    display: none;
}
.section.active > .content {
    display: block;
}
ul{
    list-style: none;
    padding: 15px 0px 10px 0px;
}
#sizeSS, #sizeLS {
    display: block;
}
button {
    background-color: #D35D47;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    position: relative;
    width: 80px;
}
.buttonSize:hover::after { 
    background: #D35D47; 
    border: 2px solid #ffffff;
    content: attr(data-title); 
    font-size: 18px;
    left: -280%; 
    opacity: .8;
    padding: 10px 20px; 
    position: absolute; 
    top: -120%; 
    z-index: 1; 
}
footer {
    background-color: #D35D47;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    margin-top: -40px;
    text-align: center;
    width: 100%;
}
